<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>controle.EfetuarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controle.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>controle.AlterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controle.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFlyer</servlet-name>
        <servlet-class>controle.CadastrarFlyer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFlyer</servlet-name>
        <servlet-class>controle.AlterarFlyer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFlyer</servlet-name>
        <servlet-class>controle.ExcluirFlyer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarCarrinho</servlet-name>
        <servlet-class>controle.AdicionarCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarCompra</servlet-name>
        <servlet-class>controle.CancelarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusPagarConta</servlet-name>
        <servlet-class>controle.MudarStatusPagarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaPix</servlet-name>
        <servlet-class>controle.ProcessaPix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMensagem</servlet-name>
        <servlet-class>controle.AlterarMensagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarMensagem</servlet-name>
        <servlet-class>controle.EnviarMensagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMensagem</servlet-name>
        <servlet-class>controle.ExcluirMensagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarConversa</servlet-name>
        <servlet-class>controle.AtualizarConversa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VincularMenu</servlet-name>
        <servlet-class>controle.VincularMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesvincularMenu</servlet-name>
        <servlet-class>controle.DesvincularMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controle.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarStatusUsuario</servlet-name>
        <servlet-class>controle.AlterarStatusUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfilUsuario</servlet-name>
        <servlet-class>controle.AlterarPerfilUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarComprovante</servlet-name>
        <servlet-class>controle.EnviarComprovante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>controle.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiberarCompra</servlet-name>
        <servlet-class>controle.LiberarCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EfetuarLogin</servlet-name>
        <url-pattern>/efetuar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/alterar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/excluir_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/cadastrar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFlyer</servlet-name>
        <url-pattern>/cadastrar_flyer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFlyer</servlet-name>
        <url-pattern>/alterar_flyer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFlyer</servlet-name>
        <url-pattern>/excluir_flyer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarCarrinho</servlet-name>
        <url-pattern>/adicionar_carrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarCompra</servlet-name>
        <url-pattern>/cancelar_compra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusPagarConta</servlet-name>
        <url-pattern>/mudar_status_pagar_compra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaPix</servlet-name>
        <url-pattern>/processa_pix.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMensagem</servlet-name>
        <url-pattern>/alterar_mensagem.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarMensagem</servlet-name>
        <url-pattern>/enviar_mensagem.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMensagem</servlet-name>
        <url-pattern>/excluir_mensagem.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarConversa</servlet-name>
        <url-pattern>/atualizar_conversa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VincularMenu</servlet-name>
        <url-pattern>/vincular_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesvincularMenu</servlet-name>
        <url-pattern>/desvincular_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarStatusUsuario</servlet-name>
        <url-pattern>/alterar_status_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfilUsuario</servlet-name>
        <url-pattern>/alterar_perfil_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarComprovante</servlet-name>
        <url-pattern>/enviar_comprovante.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiberarCompra</servlet-name>
        <url-pattern>/liberar_compra.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
